*
{
    font-family: Arial, sans-serif;

    box-sizing: border-box;
}

body
{

    height: 100vh;

    background-color: #483D8B;
}

h1
{
text-align: center;
margin: 0;
}

#splash-screen{
display: flex;
justify-content: center;
}

input{
  background-color: #483D8B;
  color: #fff;
  height: 50px;
  font-size: 3vw;
  border: none;
}

#game{
  visibility: hidden;
  justify-content: center;
}

.container
{
    display: flex;
    flex-direction: column;
}


.memory-board
{
    display: flex;

    width: 50%;
    margin: auto;

    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
}

.card
{
    position: relative;

    display: flex;

    width: 10vw;
    height: 140px;
    margin: 5px;

    transition: scale(1);

    border: 2px solid;
    border-radius: 8px;

    justify-content: center;
    transform-style: preserve-3d;
    transition: transform .4s;
}

.front-img
{
    position: absolute;
    width: 10vw;
    height: 140px;
    backface-visibility: hidden;
}

.back-img
{
    transform: rotateY(180deg);
    position: absolute;
    width: 8vw;
    height: 120px;
    backface-visibility: hidden;
}

.card.flip
{
    transform: rotateY(180deg);
}

.card:active
{
  transform: scale(0.97);
  transition: transform .2s;
}

#button-div
{
    margin: auto;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-top: 50px;
    visibility: hidden;
}

.button-div a
{
    font-size: 2.5vw;
    /* background-color: #2c333a; */
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: #fff;
}
